<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR83I1XGeJUjiMKTEe9sw34dYl83haQAw</string>
	<key>GCM_SENDER_ID</key>
	<string>516346071617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aviationProject</string>
	<key>PROJECT_ID</key>
	<string>aviation-project-46322</string>
	<key>STORAGE_BUCKET</key>
	<string>aviation-project-46322.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516346071617:ios:f2accae235e80e1d4a14c0</string>
</dict>
</plist>